<?xml version="1.0" encoding="utf-8" ?>
<!--
  Copyright (c) 2008, Recurity Labs GmbH.
  All rights reserved.

  Autor: Simon Willnauer (simonw@recurtiy-labs.com)
-->
<configuration>
  <configSections>
    <section name="Cir.Engine"
       type="Recurity.CIR.Engine.Configuration.Section.RuntimeConfigSection, Engine" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <Cir.Engine outputfolder="C:\temp" daemonWorkDir="c:\temp\" setDaemon="false">
    <plugins>
      <add assembly="CheckHeaps.dll" path="..\..\..\plugins\CheckHeaps\bin\Debug\"/>
      <add assembly="CheckHeapUse.dll" path="..\..\..\plugins\CheckHeapUse\bin\Debug\" />
      <add assembly="ElfDecompressor.dll" path="..\..\..\plugins\ElfDecompressor\bin\Debug\"/>
      <add assembly="ElfFileReader.dll" path="..\..\..\plugins\ElfFileReader\bin\Debug\" />
      <add assembly="MainCoreFileReader.dll" path="..\..\..\plugins\MainCoreFileReader\bin\Debug\" />
      <add assembly="IOCoreFileReader.dll" path="..\..\..\plugins\IOCoreFileReader\bin\Debug\" />
      <add assembly="ElfIOSSignature.dll" path="..\..\..\plugins\ElfIOSSignature\bin\Debug\" />
      <add assembly="CoreIOSSignature.dll" path="..\..\..\plugins\CoreIOSSignature\bin\Debug\" />
      <add assembly="AppleAndPears.dll" path="..\..\..\plugins\AppleAndPears\bin\Debug\" />
      <add assembly="HeapFind.dll" path="..\..\..\plugins\HeapFind\bin\Debug\" />
      <add assembly="HeapParse.dll" path="..\..\..\plugins\HeapParse\bin\Debug\" />
      <add assembly="HeapParseIO.dll" path="..\..\..\plugins\HeapParseIO\bin\Debug\" />
      <add assembly="ProcessList.dll" path="..\..\..\plugins\ProcessList\bin\Debug\" />
      <add assembly="ParsePacketHeaders.dll" path="..\..\..\plugins\ParsePacketHeaders\bin\Debug\" />
      <add assembly="PacketHeaderDump.dll" path="..\..\..\plugins\PacketHeaderDump\bin\Debug\" /> 
      <add assembly="TextSegmentCompare.dll" path="..\..\..\plugins\TextSegmentCompare\bin\Debug\" />
      <add assembly="RodataSegmentCompare.dll" path="..\..\..\plugins\RodataSegmentCompare\bin\Debug\" />
      <add assembly="ReportSignature.dll" path="..\..\..\plugins\ReportSignature\bin\Debug\" />
    </plugins>
    <platforms>
      <add assembly="Cisco2600.dll" path="..\..\..\PlatformPlugins\Cisco2600\bin\Debug\" />
      <add assembly="Cisco2691.dll" path="..\..\..\PlatformPlugins\Cisco2691\bin\Debug\" />
      <add assembly="Cisco1700.dll" path="..\..\..\PlatformPlugins\Cisco1700\bin\Debug\" />
    </platforms>
  </Cir.Engine>
  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
        <conversionPattern value="%message %newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

</configuration>

